::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.header{
  position: absolute;
  top: 30%;
  left: 2rem;
  width: 100%;
  height: 100%;
  color:white;
}

.demo-div{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
.demo{
  transition:0.3s;
  position: absolute;
  top: 88vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color:white;
  opacity: 0.7;
}

.demo h1{
  font-size: 1.2rem;
  font-weight: 200;
}

.demo:hover{
  opacity: 1;
  cursor: pointer;
}

.demo:hover h1{
  transition:0.3s;
  font-size: 1.3rem;
}

.link{
  color:white;
  text-decoration: none;
  text-align: center;
}


li.left {
  float: left;
  clear: left;
}
li.right {
  margin-left: 160px;
}

:root {
  --amplify-font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  --amplify-primary-color: #7469ff;
  --amplify-primary-contrast: var(--amplify-white);
  --amplify-primary-tint: #928aff;
  --amplify-primary-shade: #4539f0;
}

.dashboard-header{
  color:white;
  background-color:#23214b;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding:0px 14px;
  height:60px;
}

.dashboard-menu{
  display: flex;
  align-items: center;
  cursor:pointer;
}
